#!/bin/bash

# this script creates the data disk for admin-cluster's master node

# vCenter's mgmt ip is hardcoded in the lab
export GOVC_URL='https://172.16.10.2/sdk'
export GOVC_USERNAME='{{ vcenter_admin_username }}'
export GOVC_PASSWORD='{{ vcenter_admin_password }}'
export GOVC_INSECURE=true

govc datastore.mkdir -dc="GKE On-Prem" -ds="{{ esxi_ds_name }}" gke-on-prem/
govc datastore.disk.create -dc="GKE On-Prem" -size 100G -ds="{{ esxi_ds_name }}" gke-on-prem/gke-on-prem-data-disk.vmdk
