#!/bin/bash

# wget https://github.com/vmware/govmomi/releases/download/v0.20.0/govc_linux_amd64.gz -O /tmp/govc_linux_amd64.gz

# gzip -c /tmp/govc_linux_amd64.gz > /usr/local/bin/govc

# chmod 0755 /usr/local/bin/govc

GATEWAY='{{ esxi_gw_ip }}'

PW='{{ nsvm_admin_password }}'

LAST=$(echo $GATEWAY | cut -d . -f 4)

FIRST=$(echo $GATEWAY | cut -d . -f 1-3)

ADMIN=$((LAST + 2))
IP1=$((LAST + 3))
IP2=$((LAST + 4))
IP3=$((LAST + 5))

echo $PW | sudo -S cp 50-cloud-init.yaml.bak /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S sed -i -e "s/x.x.x.x/$FIRST.$ADMIN/g" /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S sed -i -e "s/x1.x1.x1.x1/$FIRST.$IP1/g" /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S sed -i -e "s/x2.x2.x2.x2/$FIRST.$IP2/g" /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S sed -i -e "s/x3.x3.x3.x3/$FIRST.$IP3/g" /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S sed -i -e "s/y.y.y.y/$GATEWAY/g" /etc/netplan/50-cloud-init.yaml
echo $PW | sudo -S netplan apply

echo $PW | sudo -S iptables -t nat -A POSTROUTING -o ens160 -s 10.0.10.251 -j SNAT --to-source $FIRST.$IP1
echo $PW | sudo -S iptables -t nat -A PREROUTING -i ens160 -d $FIRST.$IP1 -j DNAT --to-destination 10.0.10.251
echo $PW | sudo -S iptables -A FORWARD -s $FIRST.$IP1 -j ACCEPT
echo $PW | sudo -S iptables -A FORWARD -d 10.0.10.251 -j ACCEPT

echo $PW | sudo -S iptables -t nat -A POSTROUTING -o ens160 -s 10.0.10.252 -j SNAT --to-source $FIRST.$IP2
echo $PW | sudo -S iptables -t nat -A PREROUTING -i ens160 -d $FIRST.$IP2 -j DNAT --to-destination 10.0.10.252
echo $PW | sudo -S iptables -A FORWARD -s $FIRST.$IP2 -j ACCEPT
echo $PW | sudo -S iptables -A FORWARD -d 10.0.10.252 -j ACCEPT

echo $PW | sudo -S iptables -t nat -A POSTROUTING -o ens160 -s 10.0.10.253 -j SNAT --to-source $FIRST.$IP3
echo $PW | sudo -S iptables -t nat -A PREROUTING -i ens160 -d $FIRST.$IP3 -j DNAT --to-destination 10.0.10.253
echo $PW | sudo -S iptables -A FORWARD -s $FIRST.$IP3 -j ACCEPT
echo $PW | sudo -S iptables -A FORWARD -d 10.0.10.253 -j ACCEPT

echo $PW | sudo -S iptables-save > rules.v4
echo $PW | sudo -S mv rules.v4 /etc/iptables/

sleep 10
ping www.google.com -c 5

echo $PW | sudo -S systemctl restart isc-dhcp-server