esxi_public_ip = "CHANGEME"

esxi_gw_ip = "CHANGEME"

esxi_admin_username = "CHANGEME"

esxi_admin_password = "CHANGEME"

esxi_ds_name = "CHANGEME"

vcenter_admin_useranme = "CHANGEME"

vcenter_admin_password = "CHANGEME"

admin_ws_admin_username = "CHANGEME"

admin_ws_admin_password = "CHANGEME"

ova_admin_ws = "CHANGEME"

ova_vcsa = "CHANGEME"

ova_f5 = "CHANGEME"
