#!/bin/sh

code=''
timeout=900
# check if vcenter api is alive (timeout in 10 minutes)
while [ "$code" != "200" ]; do
  if [ "$timeout" -le 0 ]; then
    echo 'Timed out trying to reach vcenter web interface'
    exit 1
  fi
  code=$(curl -s -o /dev/null -w "%{http_code}" -k 'https://vcenter/vsphere-client/?csp')
  timeout=$((timeout - 10))
  sleep 10
done

export GOVC_USERNAME='{{ vcenter_admin_username }}'
export GOVC_PASSWORD='{{ vcenter_admin_password }}'

govc cluster.add \
  -k \
  -u='172.16.10.2' \
  -dc='GKE On-Prem' \
  -cluster='GKE On-Prem' \
  -hostname='172.16.10.3' \
  -username='{{ esxi_username }}' \
  -password='{{ esxi_password }}' \
  -noverify